*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.background-overflow{
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 2;
}

.background-content{
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(114, 14, 14);
}

.background-content h1{
  font-size: 15rem;
  letter-spacing: 30px;
  

  font-family: 'Bangers', cursive;
}

.container{
  width: 100%;
  height: 100vh;
  padding: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 999;

  position: absolute;

  background: transparent;
}

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.card{
  background-color: transparent;
  width: 30rem;
  height: 15rem;
  perspective: 1000px;
}

.card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

}

.card:hover .card-inner{
  transform: rotateY(180deg);
}

.card-front{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.card-front img{
  width: 300px;
}

.card-front img.hole, .hole{
  width: 100%;
  overflow: hidden;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  border-radius: 15px;
}

.card-front {
  background-color: #bbb;
  color: black;

}

.card-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transform: rotateY(180deg);

  padding: 1rem;

  background-color: rgb(121, 26, 26);
  color: white;
}

.card-back p:nth-child(2){
  font-size: 1.5rem;
}

.card-back p:nth-child(3){
  text-align: justify;
  font-size: 1.2rem;
  font-weight: 500;
}